@{
    ViewData["Title"] = "Movie not found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie not found</h2>
<hr />

<div>
    There are no movies that fulfill given requirements.
</div>

<div>
    <a asp-action="Find">Back to search</a>
</div>