
@{
    ViewData["Title"] = "Rights changing effect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Effect"]</h2>
<br />
<p>@ViewData["Reason"]</p>

<div>
    <a asp-action="Rights">Back to rights management</a>
</div>
