
@{
    ViewData["Title"] = "Concurrency problem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Use has not been removed!</h2>
<br />
<p>Someone has been modyfing this user's data alongside you. Please try again.</p>

<div>
    <a asp-action="Index">Back to users.</a>
</div>
