@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<br />
<p>MPlanner is an application that helps you plan incoming movie seances.</p>
<p>You can manage your movies, find first movie that fulfills your requirements or export your plan to an ical file.</p>
