@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<br />

<address>
    <strong>Info:</strong> <a href="mailto:szymonte23@gmail.com">szymonte23@gmail.com</a><br />
</address>
