@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<br />

<address>
    <strong>Info:</strong> <a href="mailto:226045@student.pwr.edu.pl">226045@student.pwr.edu.pl</a><br />
</address>
